:root{
    /* colors */
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
     
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";
}

body{
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.14;
   
    color: var(--primary-text-color);


    /* Header */

}
.header{
    background-color: var(--primary-white-color);
    
}    
.logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.h-logo{
    color: var(--accent-color);
}
.logo:hover{
    text-decoration: underline;
    color: var(--accent-color);
}

.list{
    list-style: none;
}

.header-link{
    text-decoration: none;
    color: var(--primary-text-color);
}

.current{
    color: var(--accent-color);
}

.contact{
    color: var(--secondary-text-color);
}

.contact:hover{
    color: var(--accent-color);
}


/* Main Заголовок */

.section{
    background-color: #2F303A;
}

.title{
    color: var(--primary-white-color);
    font-family: var(--main-font);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    align-items: center;
}

/* About */

.subject{
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text{
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}