:root{
    /* colors */
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
     
    /* fonts */
    --main-font: "Roboto";
    --secondary-font: "Raleway";
}

body{
    font-family: "Roboto", "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.14;
   
    color: var(--primary-text-color);


    /* Header */

}
.header{
    background-color: var(--primary-white-color);
    
}    
.logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.h-logo{
    color: var(--accent-color);
}
.logo:hover{
    text-decoration: underline;
    color: var(--accent-color);
}

.list{
    list-style: none;
}

.header-link{
    text-decoration: none;
    color: var(--primary-text-color);
}

.current{
    color: var(--accent-color);
}

.contact{
    color: var(--secondary-text-color);
}

.contact:hover{
    color: var(--accent-color);
}